services:
  kafkabroker:
    image: apache/kafka-native
    ports:
      - "9092:9092"
    container_name: kafkabroker
    networks:
      - my-net
    environment:
      # Configure listeners for both docker and host communication
      KAFKA_LISTENERS: CONTROLLER://localhost:9091,HOST://0.0.0.0:9092,DOCKER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: HOST://kafkabroker:9092,DOCKER://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT

      # Settings required for KRaft mode
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091

      # Listener to use for broker-to-broker communication
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

      # Required for a single node cluster
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  spark_test:
    image: jupyter_notebook
    container_name: spark_test
    user: root
    command: start.sh jupyter notebook --NotebookApp.token=''
    networks:
      - my-net
    ports:
      - "50002:8888"
      - "4040:4040"
      - "7077:7077"
      - "8080:8080"
    volumes:
      - ./notebooks/:/home/jovyan/work/
    restart: unless-stopped
  
  hadoop:
    image: harisekhon/hadoop
    container_name: hadoop
    user: root
    networks:
      - my-net
    ports:
      - "8042:8042"
      - "8088:8088"
      - "19888:19888"
      - "50070:50070"
      - "50075:50075"
      - "9000:9000"
      - "8020:8020" 
      - "9868:9868"
      - "9870:9870"

networks:
  my-net:
    external: true
